
/* PRODUCT_INFO */

.ml-product-title {
	text-align: center;
	margin: 30px;
	font-size: 30px;
	line-height: 50px;
}

.ml-product-image {
	width: 100%;
    box-shadow: -4px 4px 2px grey;
}

.more-product-container {
	min-width: 210px !important;
}

.ml-product-info-container {
	padding-left: 40px;
	padding-right: 40px;
}

.price {
	font-size: 30px;
}

.product-option{
color: $info-color;
font-size: 14px;
display:block;
margin-top:15px;
margin-bottom:15px;
}

#quantity {
	width:50px;
}

.product-notice{
color: $info-color;
font-size: 10px;
display:block;
margin-top:15px;
margin-bottom:15px;
}

.product-more-products {
text-align:center
}

.ch-carousel-mask {
	height: 100px !important;
	text-align:center !important;	
}


hr {
    border: 1px solid $info-color;
}

.buyer-question>h3 {
    color: $buyer-color;
}
.seller-answer>h3 {
    color: $seller-color;
}

