$font-stack:    Helvetica, sans-serif;
$ml-color: #FFF059;
$info-color: #525252;

$buyer-color:#3A87AD;
$seller-color:#468847;

@import "product-info";

body {
    color: #333;
    font: 13px/20px Arial,Helvetica,"Nimbus Sans L",sans-serif;
    padding: 0px;
    margin-top:100px;
}

/* HEADER */

.ml-logo {
	margin: 3px;
}

.ml-header-fixed {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px !important;
    width: 100%;
}

.ml-header {
	background-color: $ml-color;
	background-image: none;
}
